body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
}
.row {
    max-width: 100%;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px; 
}
.container {
    max-width: 100%;
    width: 100%;
    padding: 20px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.col-4 {
    width: 33%;
    float: left;
}
.navigation_links ul li{
    display: inline;
    padding: 20px;
}
.navigation_links a {
    text-align: left;
    text-decoration: none;
    color: grey;
    position: relative; 
}

.navigation_links a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    transition: width 0.3s ease; 
    opacity: 0; 
}

.navigation_links a:hover::before {
    width: 100%;
    opacity: 1; 

}
.navigation_links a:hover{
    color: rgb(255, 255, 255);
    transition: .60s ease-in-out;
}

.navigation_links ul{
    padding: 0;
}
.logo_img {
    text-align: center;
}
.contact {
    display: flex;
    justify-content: end;

}
.contact_btn p:hover {
    color:white;
    text-decoration: underline;
    transition: 0.60s ease-in-out;

}
.contact_btn:hover {
    transition: 0.10s ease-in-out;
    transform: scale(1.1);
}

.contact_btn {
    padding: 20px;
    background: url("contactimage.png") no-repeat center center;
    background-size: cover;
    width: 150px;
    text-align: center;
    color: rgb(146, 146, 146);
    text-decoration: none;
    display: block;
    transition: 0.60s ease-in-out;
}

.contact_btn p {
    margin: 0;
}

/*Hero Banner*/
.col-6 {
    float: left;
    width: 50%;
}
.hero {

    width: 100%;

}
.hero .column {
    display: flex;
    align-items: center;
    padding: 50px;

}
.img_hero {
    
    text-align: left;
}
